pkgbase = noctalia-greeter-git
	pkgdesc = Greetd greeter for Noctalia with clean shutdown and quiet VT handoff
	pkgver = 1.0.0.r161.gb0069df8a
	pkgrel = 2.3
	url = https://github.com/noctalia-dev/noctalia-greeter
	install = noctalia-greeter-git.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = pkgconf
	makedepends = wayland-protocols
	depends = cairo
	depends = dbus
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = glibc
	depends = greetd
	depends = libglvnd
	depends = librsvg
	depends = libwebp
	depends = libxkbcommon
	depends = pango
	depends = wayland
	depends = wlroots0.20
	optdepends = noctalia-git: Wallpaper and palette sync from Noctalia
	provides = noctalia-greeter
	conflicts = noctalia-greeter
	options = !debug
	source = git+https://github.com/noctalia-dev/noctalia-greeter.git#branch=main
	source = 0005-quiet-console-handoff.patch
	sha256sums = SKIP
	sha256sums = f1c61e70b50e6e8478e8758ae5271486edbdd629453f85dd2179b8b95aba8650

pkgname = noctalia-greeter-git
