pkgbase = noctalia-greeter-git
	pkgdesc = Greetd greeter for Noctalia with clean shutdown and quiet VT handoff
	pkgver = 1.0.0.r159.gb17185cdf
	pkgrel = 2.3
	url = https://github.com/noctalia-dev/noctalia-greeter
	install = noctalia-greeter-git.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = pkgconf
	makedepends = wayland-protocols
	depends = cairo
	depends = dbus
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = glibc
	depends = greetd
	depends = libglvnd
	depends = librsvg
	depends = libwebp
	depends = libxkbcommon
	depends = pango
	depends = wayland
	depends = wlroots0.20
	optdepends = noctalia-git: Wallpaper and palette sync from Noctalia
	provides = noctalia-greeter
	conflicts = noctalia-greeter
	options = !debug
	source = git+https://github.com/noctalia-dev/noctalia-greeter.git#branch=main
	source = 0001-clean-up-keyboard-listeners-before-shutdown.patch
	source = 0002-clear-vt-before-starting-greeter.patch
	source = 0003-clear-vt-after-compositor-shutdown.patch
	source = 0004-silence-routine-console-output.patch
	sha256sums = SKIP
	sha256sums = 31d077f6ba4abdad277d85887471b6fd740c0be0d24d099a8ee113edd4b23fb9
	sha256sums = 83f4cbe879acad9fd265cd064b7ef5ae35b9b8cea9aae6a769cd49df7561e60e
	sha256sums = 34c8c43ebf0d29199f964023f1e96b5d0a3705bdc40ad8d7467c100c8dce54a9
	sha256sums = 6abd1a4e6de5b1f17229c10a3f3096eedd52995a068b282ce3d40601be009b1d

pkgname = noctalia-greeter-git
